POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=even-more-secret
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret

# cloudflare tunnel
CLOUDFLARE_TUNNEL_TOKEN=even-more-secret
QUEUE_BULL_REDIS_HOST=redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_DB=0

# N8N Settings
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
NODE_ENV=production

# MINIO Settings
MINIO_ROOT_USER=admin 
MINIO_ROOT_PASSWORD=yourpassword